.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop,
.poche{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.sousshop {
    display: flex;
    flex-wrap: wrap;
}

.shoppicture,
.itemPoche,
.equipepicture{
    max-width: 200px;
    max-height: 200px;
}
.item {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 5px;
}

.shop_btn{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#timer {
    margin-top: 10px;
}

.inventory {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.inventory img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 5px;
}

.cellar {
    margin-top: 20px;
}

.row {
    display: flex;
}

.cell {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 5px;
}

.Equipecellar .cell {
    padding-bottom: 75px;
}